.cartMain {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 75em;
  margin: 3rem auto 3rem;
  padding: 0 1rem;
  gap: 1.5rem;
}
/* Cart Items */
.cartItemsGroup {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  margin: 1rem 0 1rem;
}
.cartItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border-top: 2px solid var(--neutral-black);
  border-bottom: 2px solid var(--neutral-black);
  padding: 1rem 0;
  grid-template-areas: 
  "img name name name"
  ". numbers numbers .";
  gap: 1rem;
}

.cartItemImg {
  grid-area: img;
}
.cartItemImg img {
  width: 100%;
}
.cartItemInfo {
  grid-area: name;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.cartItemInfo h3 {
  font-size: 3.2rem;
  font-weight: 400;
}

.cartItemNumbers {
  grid-area: numbers;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}
.cartItemNumbers button {
  background-color: var(--clr-acc-2);
  color: var(--neutral-white);
  border-style: none;
  padding: .65rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}
.ItemQuantityGroup {
  display: flex;
  gap: 2rem;
}

.ItemQuantityGroup input[type="number"] {
  width: 3rem;
}
.ItemQuantityGroup > p {
  font-size: 1.4rem;
  color: rgb(65,65,65);
}

.orderTotalGroup div {
  display: flex;
  padding: .2rem 1.5rem;
  justify-content: space-between;
}
.orderTotalGroup div:first-of-type {
  margin: 1rem 0 0;
}

.orderTotalGroup div {
  display: flex;
  padding: .2rem 1.5rem;
  justify-content: space-between;
}
.orderTotalGroup div:first-of-type {
  margin: 1rem 0 0;
}
/* media queries */

@media screen and (min-width: 44.625rem) {
  .cartItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 2px solid var(--neutral-black);
    border-bottom: 2px solid var(--neutral-black);
    padding: 1rem 0;
    grid-template-areas: 
    "img name name numbers";
    gap: 0 1rem;
  }
  .cartItemImg {
    grid-area: img;
  }
  .cartItemImg img {
    width: 100%;
  }
  .cartItemInfo {
    grid-area: name;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .cartItemInfo h3 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .cartItemNumbers {
    grid-area: numbers;
    flex-flow: column nowrap;
    justify-content: start;
  }
  
  .ItemQuantityGroup {
    display: flex;
    gap: 2rem;
  }
  
  .ItemQuantityGroup input[type="number"] {
    width: 3rem;
  }
  .ItemQuantityGroup > p {
    font-size: 1.4rem;
    color: rgb(65,65,65);
  }
}
@media screen and (min-width: 60rem) {
  .cartMain {
    grid-template-columns: 1fr 350px;
  }
}