.header {
  display: grid;
  margin: 3rem 0;
  place-items: center;
}
.header h1 {
  font-size: 2.5rem;
}
.productsContainer {
  display: grid;
  /* margin: 1rem 0 0; */
  gap: 1rem;
  grid-template-columns: 1fr;
  width: min(100vw, 80rem);
  margin: 0 auto;
}
.productCategoriesContainer {
  background-color: var(--neutral-color);
  padding: 1rem;
  width: min(100vw, 48em);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.productCategoriesContainer p {
  font-weight: 700;
  text-align: center;
}

.productCategoriesContainer ul li {
  list-style: none;
}

.productCategoriesContainer ul {
  display: flex;
  margin: 1rem 0;
  gap: .5rem;
  flex-flow: row wrap;
  justify-content: center;
}
.productsListContainer {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}
.productCard {
  /* flex item property */
  flex:1 0 15.625rem;
  /* flex container properties */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* misc properties */
  background-color: var(--neutral-color);
  color: var(--neutral-black);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.productCard .productDetails {
  padding: 1rem;
}
.productCard img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.productName {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--neutral-black);
}
.productDetails {
  padding: .5rem 1.2rem;
}
.productButtons {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
}
.productButtons .productButton {
  border-style: none;
  background-color: var(--clr-acc-2);
  color: var(--neutral-white);
  font-size: 1.2rem;
  padding: .5rem 0;
  border-radius: 8px;
}
.productButtons .productButton:hover {
  transform: scale(.96);
  cursor: pointer;
}
/* Media queries */
@media screen and (min-width: 48em) {
  .productsContainer {
    grid-template-columns: 15rem auto;
  }
  .productCategoriesContainer {
    background-color: var(--neutral-color);
    padding: 1rem;
    width: unset;
    height: fit-content;
  }
}