.footer {
  background-color: var(--neutral-black);
  color: var(--neutral-white);
  padding: 3rem 2rem 1rem;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "left"
    "right"
    "center";
  gap: 1rem;
  place-items: center;
}
.content .rightLinks {
  grid-area: left;
}
.content .rightLinks {
  grid-area: right;
}
.content .bottomCenter {
  grid-area: center;
}
.content a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}
.content li {
  list-style: none;
  text-align: center;
}
/* Media Quieries */

@media screen and (min-width: 48em) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "left right"
      "center center";
    place-items: unset;
  }
  .content li {
    text-align: left;
  }
  .rightLinks li {
    text-align: right;
  }
  .bottomCenter p {
    text-align: center;
  }
}
