.navbar {
  color: var(--neutral-white);
  background-color: var(--neutral-black);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* height: 3rem; */
  /* padding: 1.5rem 1rem; */
}
.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.navbarLogo {
  font-size: 1.3rem;
  padding: 0 1rem;
}

.navbar ul a {
  text-decoration: none;
  color: inherit;
}
.navbar ul li {
  list-style: none;
  padding: 1rem;
}
.navbar ul li:hover {
  background-color: var(--neutral-white);
  color: var(--neutral-black);
}
